header{
    background-image: url("/Users/francesco/Desktop/html-css-booleaner/img/pattern.png");
    background-repeat: repeat-x;
    background-color: blue;
    height: 180px;
    
    
}
 
#immagine1{
    width: 400px;
    height: 250px;
}


h1{
    font-size:xx-large;
}

#scritta{
    color: aqua;
}

.interascritta{
    color: gray;
}

#scritta2{
    background-color: yellow;
}

th{
    text-align: left;
    background-color: dodgerblue;
    color: white;
}

.color{
    background-color: lightblue;   
}

p{
    font-size: large;
}


.immagine23{
    height: 300px;
}

#scritta3{
    background-color: yellow;
}

#foto1{
    background-image: url(/Users/francesco/Desktop/html-css-booleaner/img/monitor.jpg);
    
    background-repeat: no-repeat;
    text-align: left;
    width: 270px;
    height: 210px;
    color: white;
    
}


#foto2{
    background-image: url(/Users/francesco/Desktop/html-css-booleaner/img/graph.jpg);
    background-repeat: no-repeat;
    text-align: left;
    width: 270px;
    height: 300px;
    color: white;
    
    
    
}


div{
    width: 900px;
    margin-right: auto;
    margin-left: auto;

}
